# Shared
Kafka__BootstrapServers=...

# FB.BackendAPI
DashboardAuth__AdminToken=...
FacebookGraph__AppId=...
FacebookGraph__DefaultPageId=...
FacebookGraph__GraphVersion=...
FacebookGraph__PageAccessToken=...
FacebookGraph__TimeoutSeconds=...

# FB.WebhookService
FacebookWebhook__VerifyToken=...
FacebookWebhook__AppSecret=...
